.container{
  width: 1170px !important;
  padding: 0 !important;
}

.navbar {
  margin-bottom: 0px;
  min-height: 75px;
}

.navbar-brand {
    padding: 6px  15px 6px 10px;
}

.navbar-brand > div > img {
  width: 40px;

}

.navbar-default {
  background-color: #004794;
}

.navbar-default > li > a {
  font-size: 4vw;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #004794;
  background-color: white;

}

.navbar-nav {
  float: right;
  margin-top: 13px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.well{
  background-color: #fff !important;
}


.well .nav-tabs>li.active>a, 
.well .nav-tabs>li.active>a:focus, .well .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #004794;
    border: 1px solid #004794;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 10px 10px;
    font-size: .9em;
}

a {
    color: #004794;
    text-decoration: none;
}

.shiny-input-container>div>select:not(.selectized) {
    width: 100%;
    height: 200px;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}

.select-label {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}


.tab-content{
  margin-top: 20px;
}

.img-holder{
  display:flex;
}

.main-page-img{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.main-page-img img{
  width: 400px;
}

.main-p{
  margin: 30px 0;
  width: 700px;
}
.img-p{
  margin-top: 20px;
}



/* Slider*/

.date_slider{
  margin: 10px;
}

.irs-bar {
  border-top: 1px solid #004794 !important;
  border-bottom: 1px solid #004794 !important;
  background: #004794 !important;
}

.irs-bar-edge {
  border: 1px solid #004794 !important;
  border-right: 0 !important;
  background: #004794 !important;
}

.irs-from,
.irs-to,
.irs-single {
  background: #004794 !important;
}

/*table*/
  table.dataTable thead th {
    padding: 10px 10px;
  }
  
  
  /* Collapse in sidebar */
  
.panel-title {
  font-size: 1.3em;
  line-height: 1.2;
  color: #048852;
}

.panel-heading {
  padding: 10px 0;
}


.panel-title > a[aria-expanded="true"] > i,
.panel-title > a[class=""] > i {
  transform: rotate(90deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.panel-title > a[aria-expanded="false"] > i,
.panel-title > .collapse > i {
  transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.wide-select, .wide-select>.shiny-input-container{
  width: 100% !important;
}

.select-holder {
  display: flex;
  flex-direction: row;
}

.select-holder>.form-group {
  margin-bottom: 5px;
}

.select-holder>.shiny-input-container>div>.selectize-control {
  margin-bottom: 5px;
}

.select-holder>.shiny-input-container>div>.selectize-control>.selectize-input {
  padding: 6px 8px;
  background-color:#efefef;
  border: none;
  box-shadow: -2px 4px 8px -3px rgba(141,150,151,1);
  -webkit-box-shadow: -2px 4px 8px -3px rgba(141,150,151,1);
  -moz-box-shadow: -2px 4px 8px -3px rgba(141,150,151,1);
  min-height: 0;
}


.select-holder>.shiny-input-container>.control-label{
display: none;
}

.select-label{
  margin: 10px 10px 0px 0px;
  width: 75px;
}

.control-label {
}

/*.row{
  margin-right: 25px;
  margin-left: 25px;
}*/

.download-button{
  margin-left: 45%;
}

.flow-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.sidetitle {
  text-align: center;
  font-size: 16px;
}

#help-button {
  margin-top: -5px;
  margin-right: 15px;
  font-size: 32px;
  cursor: pointer;
}

.fs-button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#startpage {
  margin-left: 20px;
}

#start_banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#lang-select {
  margin-top: -20px;
  margin-right: 15px;
}